h5py >= 3.6.0
ipykernel >= 6.9.1
ipython >= 8.3.0
jupyterlab >= 3.3.2
matplotlib >= 3.5.2
matplotlib-inline >= 0.1.2
notebook >= 6.4.11
numpy >= 1.22.4
pandas >= 1.4.2
scikit-plot >= 0.3.7
scipy >= 1.7.3
seaborn >= 0.11.2
scikit-learn >= 1.1.1
tensorflow == 2.9.1
